body {
    background-color: slategray;
}

#field {
  height: 200px;
  border-bottom: 3px rgb(80, 0, 0) groove;
  position: relative;
}

#ball {
  position: absolute;
  cursor: pointer;
}

h1 {
  text-align: center;
}

button {
    margin: auto;
}