body {
    background-color: slategray;
}

#field {
  height: 200px;
  border-bottom: 3px rgb(80, 0, 0) groove;
  position: relative;
}

#ball {
  position: absolute;
  cursor: pointer;
}

h1 {
  text-align: center;
}

button {
    text-decoration: none;
    background-color: rgb(90, 90, 90);
    color: black; 
    border: 2px solid #f44336;
    padding: 16px 32px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
}

.button:hover {
  background-color: #f44336;
  color: white;
}
